@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    background-color: #0A071B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #8C87A2;
}

main {
    /* background-color: #0A071B; */
    background-color: white;
    border-bottom: 3px solid #8C87A2;
    margin: 0 auto;
}

movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}